@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary-950;
}

body {
  @apply text-neutral-900;
}

/* styles/newsTicker.css */
.news-ticker {
  overflow: hidden;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.news-ticker-wrapper {
  display: flex;
  width: max-content;
  animation: ticker 60s linear infinite;
}

.news-ticker-wrapper:hover {
  animation-play-state: paused;
}

.news-item {
  display: inline-block;
  white-space: nowrap;
}

.news-item a {
  text-decoration: none;
}

.news-item a:hover {
  text-decoration: underline;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}





/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */